@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    text-decoration: none;

}
img{
    width: 100%;
}
.container{
    /* up and down 0  right and left 10px*/
    padding: 0 10%;
}
/* menu style start */
.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* menu style end */
